FROM python:3-slim-bullseye

ENV VIRTUAL_ENV=/opt/venv
RUN python3 -m venv $VIRTUAL_ENV
ENV PATH="$VIRTUAL_ENV/bin:$PATH"

RUN mkdir -p technikzeugs && \
    adduser --disabled-password --gecos "" django && \
    usermod -a -G django django
COPY --chown=django:www-data src/ /technikzeugs/

RUN apt-get update && \
    apt-get -y install python3-dev default-libmysqlclient-dev build-essential \
        uwsgi uwsgi-plugin-python3 && \
    apt-get -y install --no-install-recommends w3m curl && \
    pip install -r technikzeugs/requirements.txt --no-cache-dir && \
    apt-get purge -y python3-dev build-essential && \
    apt-get -y autoremove && \
    apt-get clean && \
    rm -rf /var/lib/apt/lists/*
